.services {
    padding-top: 100px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 83%;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0 35px;
    }
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;

    @media screen and (min-width: 960px) {
        margin-top: 100px;
    }

    &__item {
        width: 50%;
        text-align: center;
        padding: 20px;

        @media screen and (min-width: 960px) {
            width: 31%;
            margin-right: 25px;

            &:nth-child(3n+0) {
                margin-right: 0;
            }
        }
    }

    &__title {
        font-family: Raleway;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 4.9px;
        line-height: 20px;
        text-align: center;
        color: $color-txt-dark;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    &__text {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        color: $color-txt-primary;
    }
}
